@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0; 
}

.brand{
    color: rgb(241, 85, 58);
}

.navbar ul{
    display: flex;
    height: 45px;
    align-items: center;
    border: 1px solid rgb(139, 135, 135);
    border-radius: 50px 50px;
    width: auto;
}

.navbar span{
    
    background: rgb(241, 85, 58);
    
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.navbar li{
    list-style: none;
    margin: 20px;
    color: rgb(229, 236, 243);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px 0px 140px;
    height: auto;
}

#head{
    background: linear-gradient( 180.00deg ,rgb(17, 17, 17) ,rgb(119, 119, 119, 0) 100%),
                linear-gradient(360deg, rgba(17, 17, 17, 1) 0%, rgba(119, 119, 119, 0) 100%); 
    
}

p{
    font-size: 15.5px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
}

h1{
    color: rgb(255, 255, 255);
}

.text{
   
    width: 52%;
}

.text h1{
    font-size: 60px;
    font-weight: 700;
}

.hero-font{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 190px 0px 140px;
}

.hero-font .background{
    background-image: url("/B10A2-versatile-ui-main/images/Images\ 2.png");
   height: 580px;
   width: 350px;
}

.btn{
    height: 38px;
    width: 170px;
    border-radius: 50px 50px;
    margin: 5px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

#download{
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
}

#orange-btn{
    background:  rgb(241, 85, 58);
}

.sticker{
    height: 90px;
    width: 175px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    margin: 150px 250px;
}

.sticker h1{
    font-size: 35px;
    font-weight: 800;
    margin: 0px;
    margin-top: 15px;   
}

.sticker p{
    margin: 0px;
}

#second-sticker{
    margin-left: -90px;
    display: flex;
    align-items: center;
    margin-top: 170px;
    gap: 10px;
}

.circle{
    height: 40px;
    width: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;   
}

main{
    background: #020303;  
    
}

#second-sec{
    height: 1250px;
    width: 80%;
    margin: 0px auto; 
    
}

#second-sec h2{
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 60px;
}

#p-text{
    text-align: center;
}

.images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 70px auto;
    text-align: center;
}

 .image img{
    border-radius: 100%;
    border: 3px solid rgb(129, 128, 128); 
}

.image h3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.mile-easily{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-radius: 20px;
    background: rgba(170, 167, 167, 0.247);
}

.info{
    height: 300px;
    width: 400px;
    margin: 0px 0px 0px 60px;  
}

.info h1{
    font-size: 45px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin: 0px ;
}

.info .btn{
    margin: 30px 0px;
}

.pic img{
    width: 350px;
    height: auto;
    border-radius: 20px;
    margin: 30px 30px;   
}

.bmi-text{
    height: 150px;
    width: 68%;
    margin: 90px 100px 0px 200px ;
}

.bmi-text h1{
    font-size: 3em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin: 0;
}

#third-sec{
    width: 100%;
    background: #6160607a;
    display: flex;
    justify-content: space-between;    
}

.chart{
    margin-left: 140px;
}

.fill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.fill-up{
    height: 60px;
    width: 320px;
}
.fill-up2{
    height: 60px;
    grid-column: span 2;
}

table,th,td{
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 400px;
    height: 45px;
    padding-left: 25px;
    color: rgba(255, 255, 255, 0.6);
}

 #third-sec .math{
    width: 540px;
    margin-right: 140px ;
}

#input{
    height: 50px;
    width: 250px;
    padding-left: 10px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1); 
}

input::placeholder{
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
}

select{
    
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
}

.math .btn{
    margin: 30px 5px;
}

#fourth-sec{
    
    width: 90%;
    height: 850Px;
    margin: 0px auto;
}

#fourth-sec h1{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    margin: 80px 0px 20px auto;
}

#fourth-sec p{
    text-align: center; 
}

.our-team{
    height: 600px;
    width: 91%;
    background: #52535380;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    justify-content: space-evenly;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 16px;
    margin: 60px auto;
}

#membars{
    height: 280px;
    width: 340px;
    border-radius: 16px;
}

#membars h3{
    color: rgb(255, 255, 255) ;
    font-weight: 700;
    font-size: 22px;
   margin: 210px 0px 0px 20px;
}

#membars p{
    margin: 0px 20px;
   text-align: left;
}

.membars-1{
    background-image: url("/B10A2-versatile-ui-main/images/trainer1.png");
    background-size: cover;   
}

.membars-2{
    background-image: url("/B10A2-versatile-ui-main/images/trainer2.png");
    background-size: cover;
}

.membars-3{
    background-image: url("/B10A2-versatile-ui-main/images/trainer3.png");
    background-size: cover;
}

.membars-4{
    background-image: url("/B10A2-versatile-ui-main/images/trainer4.png"); 
    background-size: cover; 
}

.membars-5{
    background-image: url("/B10A2-versatile-ui-main/images/trainer5.png");
    background-size: cover;
}

.membars-6{
    background-image: url("/B10A2-versatile-ui-main/images/trainer6.png");
    background-size: cover;
}

#custom-sec{
    width: 80%;
    margin: 70px auto;
    
    

}
#custom-sec h1{
    font-size: 3em;
    font-weight: 700;
    text-align: center;

}
.custom-p{
    width: 80%;
    margin: 0px auto;
    text-align: center;
    
}
.fifth-sec{
    width: 100%;
    background: #41404070;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    margin: 40px auto;
    
}
.do-exercise{
    height: auto;
    width: 500px;
    margin-top: 60px;
    padding-right: 30px;
}
.do-exercise h2{
    font-size: 2em;
    font-weight: 700;
    color:rgb(255, 255, 255);
    
}

.exercise-image img{
    
    height: 340px;
    width: 340px;
    object-fit: cover;
    margin: 40px 50px;
    border-radius: 16px;
    


}
#sixth-sec{
    width: 100%;
    background: #070707e1;  
}

.footer{
    width: 75%; 
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    align-items: center;
    padding-top: 40px;
    margin:  auto;
    gap: 50px;
}

.type-1{
    width: 450px;
}

.type-1 h1{
    color: rgb(241, 85, 58);
    font-size: 3em;
    font-weight: 800; 
}

#our-service h2{
    color: rgb(255, 255, 255);
}

#our-service ul li a {
   
    color: rgba(255, 255, 255, 0.5);
}

#our-service ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.line{
     width: 75%;
     border: 2px solid #52535380;
     margin: 45px auto;
}

.copyright{
    text-align: center;
    padding-bottom: 30px;
}


@media screen and (max-width:576px) {
    
    body{
        width: 100%;
        align-items: center;
        

        
        
    }
    .brand{
        margin: 50px 20px;
        font-size: 3em;
        font-weight: 800;
    }
    .navbar{
        display: none;
    }
    .hero{
        margin: auto;
    }
    .hero-font, .mile-easily, #third-sec
    {
        flex-direction: column;
        margin: 0px;
        
    }
    .text{
        width: 90%;
        
    }
    .text .btn{
        height: 50px;
        width: 120px;
        margin-top: 20px;
    }
    .background{
        
        width: 70%;
    }
    .sticker{
        margin: 40px 0px 0px 190px;
    }
    #second-sticker{
        margin-left: 10px;
    }
    
    
    .images{
        grid-template-columns: repeat(1 ,1fr);
    }
    #second-sec h2{
        padding: 0px;
    }
    .info{
        width: 70%;
        padding-top: 30px;
    }
    .info .btn{
        width: 85%;
        height: 60px;
    }
    .pic{
        height: auto;
        width: auto;
    }
    .bmi-text {
        margin: 50px auto;
        width: auto;
    }
    #third-sec{
       width: 100%;
        gap: 30px;
        margin-top: 1100px;
        
    }
    .chart, .math{
        margin-left: 20px;
        width: auto;
    }
    /* .math{
        margin-right: 20px;
        
    } */
    .math .btn{
        height: 50px;
        width: 55%;
    }

    .fifth-sec{
        flex-direction: column-reverse;
        justify-content: center;

    }
    .do-exercise{
        width: 80%;
        margin: 0px auto;
        padding-left: 0px;
        
    }
    .exercise-image{
        padding-left: 0px;
    }
    .our-team{
        grid-template-columns: repeat(1 ,1fr);
        height: auto;
        width: 72%;
        gap: 20px;
        
    }
    .membars-1 , .membars-4{
        display: none;
    }
    #fourth-sec{
        height: 1500px;
    }
    #fourth-sec h1{
        margin-left: 30px;
        
    }
    .footer{
        grid-template-columns: repeat(1 ,1fr);
        gap:20px;
    }
    .type-1{
        width: 80%;
    }
    

}